<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperCarros.Properties.Settings.bd_SuperCarrosConnectionString"
            connectionString="Data Source=DESKTOP-BLNRK54\SQLEXPRESS;Initial Catalog=bd_SuperCarros;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>